.foto{
    width: 400px;
    max-height: 400px;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 3px solid;
    padding: 5px;
    margin: 10px;
    background-color: #F3F6F9;

}
.fotoContainer{

    display: flex;



}

.contentContainer{
    display: flex;
    flex-direction: column;

    margin-left: 50px;

}

