


button {
  border-radius: 4px;
  border: none;

  padding: 8px 16px;
  background-color: darksalmon;
  color: white;
  font-weight: bold;

}.navButton{
  width: 120px;

 }


button + button {
  margin-left: 8px;

}

button:hover {
  cursor: pointer;
}

a,
a:visited,
a:active {
  color: #0d3b66;
}

a:hover {
  color: #ea7e1f;
}


form {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  padding: 32px;
  max-width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}

h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 32px;


}

.form-button {
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.logo-container img {
  width: 40px;
  margin-right: 8px;
}

section  {
  margin: 0 0 50px 0;
}


.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
